@charset "utf8";

/* CSS Reset */
:root{
  --poster-color:  transparent !important;
}
.userInput:focus-visible {
  outline: 0 !important;
}
html,body {
  padding: 0; margin: 0;
  font-family: 'Nanum Gothic', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a { color: inherit; text-decoration: none; }
* { box-sizing: border-box; margin: 0 auto; }
.focus{ font-weight: bold; }
@media screen and (max-width: 768px) {
  .focus{ background-color: rgba(0,0,0,0.08) !important; }
}
.svgWrap{ position: relative; width: 80px; height: 80px; display: inline-block; margin: 10px 5px; }
.svgWrap>svg{ width: 100%; height: 100%; }
@media screen and (max-width: 768px) {
  .svgWrap{ width: 60px; height: 60px; }
}